@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1 {
    font-family: 'Bebas Neue', cursive;
}

body {
    padding-top: 10px;
    text-align: center;
    background-color: #f0f0f0;
}

.extension-container {
    width: 300px;
    padding: 10px;
    text-align: center;
}

/* for buttons once event listener is toggled */
div.fadeOut {
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 100;
    pointer-events: all;
}

.noClick {
    pointer-events: none;
}

.allowClick {
    pointer-events: all;
}